/*
Custom CSS
=============
Author:  Jhunex
Updated: Feb 2015
Notes:
*/

/* --------------------------------------
   Layout
   -------------------------------------- */
/* for the multi level menu */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* end for multi-level menu */


/*.footer.footer-bottom {
   position: absolute;
   bottom: 0;
   width: 100%;
}*/

/*footer h6 {
   font-size: 12px;
   font-weight: bold;
}

footer ul {
   font-size: 12px;
}*/

#socialMedia {
   padding: 0px;
   margin-bottom: 0px;
}

div.panel.panel-default.login {
   width: 400px;
   margin-right: auto;
   margin-left: auto;
}


/* --------------------------------------
   Typography
   -------------------------------------- */
.well .page-header {
   margin-top: 0;
}

.well .page-header h4 {
   margin-top: 0;
   color: #F5841F;
}

.well h4 {
   font-family: "Oswald", arial;
}

.page_title {
   font-family: "Oswald", arial;
   color: #F5841F;
}

.row .col-sm-6 h5 {
   font-family: "Oswald", arial;
   color: #F5841F;
}

.registerSubGroup {
   font-size: 12px;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
  
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
.carousel {
   margin-bottom: 20px;
}


/* --------------------------------------
   Global Styles
   -------------------------------------- */

html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

#main {
    height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -114px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 114px;
    background: #333;
    color: #eee;
    padding: 10px;
}

#footer h6 {
    font-size: 12px;
    font-weight: bold;
}

#footer ul {
    font-size: 12px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */
/* Portrait & landscape phone */
@media (max-width: 480px) {
    #footer {
        height: 130px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    #footer {
        height: 130px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
   #myCarousel .item {
      height: 350px;
   }

   #slide1 {
      background: url("../images/carousel_large_01.jpg") top center no-repeat;
   }

   #slide2 {
      background: url('../images/carousel_large_01.jpg') top center no-repeat;
   }

   #slide3 {
      background: url('../images/carousel_large_01.jpg') top center no-repeat;
   }
}